.post-layout {
  max-width: 34rem;
  margin: auto;

  h1 {
    color: #478AF7;
    font-size: 1.625rem;
    font-weight: 500;
    margin-bottom: 0;
  }

  .date-pill {
    background-color: #FBFBFD;
    color: #ADB4C6;
    height: 1.5rem;
    border-radius: 8px;
    padding: 0.2rem 0.8rem;
    font-size: 0.625rem;
    font-weight: 500;
    letter-spacing: 0;
  }

  p {
    color: #10233A;
    font-size: 0.8125rem;
    letter-spacing: 0;
    line-height: 1.6;
    margin: 1.375rem 0;
  }

  strong {
    font-weight: 500;
  }

  img {
    max-width: 100%;
    border-radius: 8px;
    background-color: #D8D8D8;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.17), 0 25px 15px -20px rgba(0, 0, 0, 0.3);
  }

}