<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ site.url }}/{{ site.baseurl }}/assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&amp;display=swap" rel="stylesheet">
    <title>{{ page.title }}</title>
</head>
<body>{{ content }}</body>
</html>